@model MyBlog3.Models.Article

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Deleting</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
